{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <style>
        iframe
        {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    </style>
    <h1 class="center">Audio-Visual</h1>
    <p><a class="sfont" href="departments.html">Return</a></p>
    <iframe width="83%" height="450" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQyEshYJWSwz7z1TFnI_23_9O4H3GKN_9J0Ot6Eu3EEC0H0Hybxw-Z3owuR-ZmnJXfQ4JX76oDXaQ6h/pubhtml?gid=260742144&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
{% endblock %}
