{% extends "layout.html" %}

{% block title %}
    Departments
{% endblock %}

{% block main %}
    <style>
        table
        {
          border: 1px solid black;
          border-collapse: collapse;
          margin-left: auto;
          margin-right: auto;
        }
        td
        {
          border: 1px solid black;
          padding: 5px;
        }
        .white
        {
            color: white;
        }
    </style>
    <h1 class="center">Yogi Cup Departments List</h1>
    
    <h2 class="center">Departments (RCT)</h2>
    <table class="center">
      <tr>
        <td><a href="av.html">Audio-Visual</a></td>
        <td>Logistics</td>
        <td>Registration</td>
      </tr>
      <tr>
        <td>Bracket Manager</td>
        <td>Mailchimp</td>
        <td>Scheduling / Tournament Details</td>
      </tr>
      <tr>
        <td>Content Creation</td>
        <td>Marketing</td>
        <td>Scorekeeping</td>
      </tr>
      <tr>
        <td>Court Liasons</td>
        <td>Photobooth</td>
        <td>Skills Competition</td>
      </tr>
      <tr>
        <td>Environment</td>
        <td>Programming</td>
        <td>Smruti Bhet</td>
      </tr>
      <tr>
        <td>Equipment Manager</td>
        <td>Reflection Video</td>
        <td>Supplies</td>
      </tr>
      <tr>
        <td>Food Services</td>
        <td>Referees</td>
        <td>Team Packets, Referee Packets, & Sant Packets</td>
      </tr>
    </table>
    
    <p class="white"> d </p>
    <p class="white"> d </p>
    
    <h2 class="center">Departments (Other, done by RCs, non-RCT)</h2>
    <table class="center">
      <tr>
        <td>Hotels</td>
        <td>Sponsorships</td>
        <td>Professional Ref Coordination</td>
      </tr>
{% endblock %}
