{% extends "layout.html" %}

{% block title %}
    Yogi Cup Playbook
{% endblock %}

{% block main %}
    <style>
        img
        {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        .right
        {
            text-align: right;
        }
    </style>
    
    <script>
        function start_planning()
        {
            // This part of function gotten from "musefan" (stackoverflow, posted November 3, 2016)
            // Take input, get in expanded format (6 Febbruary, 2021)
            var date = document.querySelector('#date').value;
            var d= date.split("/");
            var f = new Date(d[2], d[0] - 1, d[1]);
            console.log(f.toString());
            
            // This part of function gotten from "Stephen Wrighton" (stackoverflow, posted August 18, 2009)
            // Subtract 128 days
            var start_date = new Date(f);
            start_date.setDate(start_date.getDate()-128);
            
            // This part of function gotten from "Inanda Menezes" (stackoverflow, posted January 9, 2015)
            // Turn start date into normal format (Thu, 1 October 2020)
            start_date = new Date(start_date).toUTCString();
            start_date = start_date.split(' ').slice(0, 4).join(' ');
            console.log(start_date);
            
            document.querySelector('#result').innerHTML = "Suggested Date to Begin Planning: " + start_date
        }
    </script>
    
    <form class="search, right" action="https://www.google.com/search" method="get">
            <input name="q" placeholder="Search" type="text">
            <input type="submit" value="Search">
        </form>
        
        <p> </p>
        
        <form class="right" onsubmit="start_planning(); return false;">
            When is Yogi Cup?
            <input type="text" placeholder="MM/DD/YYYY" id="date">
            <input type="submit">
        </form>
        
        <div class="right" id="result">
             Suggested Date to Begin Planning:
        </div>
        
        <p> </p>
        <p> </p>
        
        <div class="alert alert-primary" role="alert">
          Note: Reference links provided on this site refer to 2020 Yogi Cup Planning Files
        </div>
        
        <img width="400" height="400" src="static/logo.png" atl="Yogi Cup Logo">
{% endblock %}
