{% extends "layout.html" %}

{% block title %}
    Timeline
{% endblock %}

{% block main %}
    <style>
        iframe
        {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    </style>
    <h1 class="center">Yogi Cup Timeline</h1>
    <p> </p>
    <div class="alert alert-info" role="alert">
      Make sure to check out the example timeline in the second tab!
    </div>
    <iframe width="78.5%" height="700" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTd4t35MpJ7ttUdvJKTnkbJzV6WuDW3xsVCLBCGlj25cUU_slUO4mEeee1Q4yWzXMkn4ARRxeen-K_o/pubhtml?widget=true&amp;headers=false"></iframe>
{% endblock %}