<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link href="../static/favicon_io/favicon.ico" rel="icon">

        <link href="../static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <style>
            img
            {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            .right
            {
                text-align: right;
            }
        </style>

        <script>
            function start_planning()
            {
                // This part of function gotten from "musefan" (stackoverflow, posted November 3, 2016)
                // Take input, get in expanded format (6 Febbruary, 2021)
                var date = document.querySelector('#date').value;
                var d= date.split("/");
                var f = new Date(d[2], d[0] - 1, d[1]);
                console.log(f.toString());

                // This part of function gotten from "Stephen Wrighton" (stackoverflow, posted August 18, 2009)
                // Subtract 128 days
                var start_date = new Date(f);
                start_date.setDate(start_date.getDate()-128);

                // This part of function gotten from "Inanda Menezes" (stackoverflow, posted January 9, 2015)
                // Turn start date into normal format (Thu, 1 October 2020)
                start_date = new Date(start_date).toUTCString();
                start_date = start_date.split(' ').slice(0, 4).join(' ');
                console.log(start_date);

                document.querySelector('#result').innerHTML = "Suggested Date to Begin Planning: " + start_date
            }
        </script>

        <title>Yogi Cup Playbook</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="index.html"><span class="blue">Yogi Cup Playbook</a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="timeline.html">Timeline</a></li>
                        <li class="nav-item"><a class="nav-link" href="departments.html">Departments</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="login.html">Log Out</a></li>
                    </ul>
            </div>
        </nav>

        <main class="container p-5">
            <form class="search, right" action="https://www.google.com/search" method="get">
                    <input name="q" placeholder="Search" type="text">
                    <input type="submit" value="Search">
                </form>

                <p> </p>

                <form class="right" onsubmit="start_planning(); return false;">
                    When is Yogi Cup?
                    <input type="text" placeholder="MM/DD/YYYY" id="date">
                    <input type="submit">
                </form>

                <div class="right" id="result">
                     Suggested Date to Begin Planning:
                </div>

                <p> </p>
                <p> </p>

                <div class="alert alert-primary" role="alert">
                  Note: Reference links provided on this site refer to 2020 Yogi Cup Planning Files
                </div>

                <img width="400" height="400" src="../static/logo.png" atl="Yogi Cup Logo">
        </main>


    </body>

</html>
